
.background{
    background-image:url(./pictures/backgroung\ image.jpg)!important;
}
.border{
    border-color: #5fcac7 !important;
    background-color: #5fcac7 !important;
    border-radius: 15px;
    color:white;
}
.color{
    color: black!important;
}
.bgmagic{
    /* background-image:url(./pictures/hero\ image.jpg); */
    border-color: rgb(255, 255, 255)!important;
}
.backgroundcolor{
    background-color: #5fcac7!important;
}
.backgroundcolor h1{
    color: #ffffff !important;
}
.button{
     border-color: #ffffff;
     color: #ffffff;
}
.cup{
    border-radius: 50px!important;
}
.review{
    background-image:url(./pictures/bg\ review.jpg) ;
}
.picture img{
    border-radius: 50px!important;
}
.back{
    background-image: url(./pictures/INGREDIANTS.jpg);
}
.khudkiclass{

}